.a {
  height: 195vh;
  background-color: #eeeeee;
}

.a-title {
  padding-top: 115px;
  color: #333;
  text-align: center;
}

.a-quote {
  color: black;
  text-align: center;
  padding-top: 20px;
}

.a-timeline {
  margin-top: 30px;
  margin: auto;
  padding-right: 10vh;
}

.a-timeline .a-timeline-content .a-timeline-title {
  font-size: 20px;
}

.a-timeline .a-timeline-content .a-timeline-date {
  color: black;
  font-weight: 100;
}

.a-timeline .a-timeline-content .a-timeline-description {
  color: black;
  font-size: 14px;
  margin-top: 6px;
  font-weight: 100;
}

.a-stack-container {
  padding-top: 5vh;
}

.a-stack {
  height: 100%;
  width: 33%;
  margin: auto;
}

.a-stack-icon {
  font-size: 150px;
  font-weight: 300;
  color: black;
  width: 20vh;
  transition: ease-in-out 200ms;
}

.a-stack-icon:hover {
  transform: scale(1.2);
  font-weight: 300;
  color: black;
}
