/* Base styles */
.project-item-container {
  width: 100%;
  max-width: 300px;
  box-shadow: 0px 15px 25px 0px rgba(4, 6, 4, 0.08);
  background-color: #fff;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  margin: 15px;
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.project-item-container:hover {
  box-shadow: 0px 15px 25px 0px rgba(4, 6, 4, 0.16);
  transform: scale(1.1);
}

.project-item-container::after {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 0;
  width: 0%;
  height: 8px;
  background-color: #007bff;
  border-radius: 0 0 12px 12px;
  transition: width 0.3s ease, bottom 0.3s ease;
}

.project-item-container:hover::after {
  width: 100%;
  bottom: 0;
}

.project-item-details-container {
  padding: 32px 24px;
  cursor: pointer;
}

.project-item-icon {
  position: absolute;
  top: 16px;
  left: 16px;
  font-size: 36px;
  color: #007bff;
}

.project-item-title {
  font-size: 24px;
  line-height: 36px;
  color: black;
  margin-top: 20px;
  transition: color 0.3s ease;
}

.project-item-container:hover .project-item-title {
  color: #007bff;
}

.project-item-description {
  font-size: 18px;
  font-weight: 200;
  line-height: 32px;
  margin-top: 12px;
  margin-bottom: 0;
  color: rgb(0, 0, 0);
}

/* Mobile responsiveness */
@media screen and (max-width: 600px) {
  .p-list-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 15px;
    margin-bottom: 50px;
    padding: 0 10px;
  }

  .project-item-container {
    width: 100%;
    max-width: 100%;
  }
}
