.c {
  display: flex;
  height: 115vh;
  background-color: black;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.c-title {
  color: #333;
}

.c-app-imgs {
  flex-direction: row;
  display: flex;
}

.c-apps {
  height: 8vh;
  width: 8vh;
}

.c-info-item {
  font-size: 14px;
  color: #787878;
  line-height: 30px;
  text-align: center;
}

.c-info-item > span {
  color: white;
  font-weight: 500;
}
