.i {
  display: flex;
  height: 90vh;
  background-color: #eeeeee;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.i-headshot {
  width: 180px;
  height: 180px;
  border-radius: 50%;
}

.i-name {
  color: #333;
}

.i-pronounce {
  color: #333;
}

.i-title {
  color: #333;
  display: flex;
  flex-direction: column;
}

.i-app-container {
  display: flex;
}

.i-app-icon {
  font-size: 5vh;
  transition: ease-in-out 200ms;
}

.i-app-icon:hover {
  transform: scale(1.1);
}

.i-down-arrow {
  height: 5vh;
  transition: ease-in-out 200ms;
}

.i-down-arrow:hover {
  transform: translateY(5px);
}
