.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
  text-align: center;
  height: 20vh;
}

.f-title {
  color: white;
}

.f-subtxt {
  padding-top: 5px;
  color: #6b6b6b;
}

.f-app-icon {
  font-size: 35px;
  transition: ease-in-out 200ms;
  color: #007bff;
  padding-top: 8px;
}

.f-app-icon:hover {
  transform: scale(1.1);
}
